*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}
.container{
	position: relative;
	width: 100%;
	height: 100vh;
}
.container::before{
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(./login-background.svg);
}
.login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	height: 90%;
	margin: 0 auto;
}
.login-form{
	width: 80%;
	padding:50px;
	border-radius: 8px;
	transition: .5s;
	box-shadow: 2px 2px 8px lightblue;
}

.login .text-head{
	color: #fff;
	font-size: 25px;

}
.login-form .input-box{
	margin: 20px 0;
}
.login-form .input-box label{
	color: white;
}
.login-form .input-box input{
	margin: 2px 0;
	width: 100%;
	padding: 8px 10px;
	border-radius: 5px;
	outline:none;
	border: none;
	font-size: 16px;
}
.login-form .submit-button{
	width: 100%;
	text-align: center;
}
.login-form .submit-button input{
	width: 50%;
	padding: 5px 15px;
	border-radius: 25px;
	margin: 0 auto;
	outline:none;
	border: none;
	font-size: 16px;
}
.login-form .submit-button input:hover{
	color: black;
	background: lightblue;
}
